__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
lib/
lib64/
parts/
sdist/
var/

# Environments
.env

# Mac
.DS_Store
**/.DS_Store

# log
logfile.log

# Check files
a.py

#VS code
vscode/
.vscode/